main {
  display: flex;
  gap: 30px;
}

section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form *[type="submit"] {
  align-self: flex-end;
}

#scores-tab {
  border: solid 1px #000;
  height: 150px;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px #d3d3d3;
}

.empty-scores-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#tab-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.even-row {
  background-color: #d3d3d3;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}

.odd-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  box-shadow: 5px 5px #d3d3d3;
}
